@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "western";
    src: url(./assets/fonts/Smokum-Regular.ttf);
}


.headshot {
    max-width: 10rem;
    border-radius: 25%;
    overflow: hidden;
}






.western {
    font-family: "western";
}