@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "western";
    src: url(./assets/fonts/Smokum-Regular.ttf);
}

@font-face {
    font-family: "sans";
    src: url(./assets/fonts/Jost-VariableFont_wght.ttf);
}


html {
    scroll-behavior: smooth;
}

.project-links {
    width: 3rem;
    height: 3rem;
}

.contact-links {
    max-width: 8rem;
    max-height: 8rem;
}


/* .paperTexture {
    background-image: url("./assets/img/paperTexture.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} */


.gradient {
background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(0, 221, 214, 1) 0%, rgba(51, 102, 255, 1) 90%);
}


.headshot {
    width: 10rem;
    height: 10rem;
    border-radius: 25%;
    overflow: hidden;
}


.sans {
    font-family: "sans";
}

.western {
    font-family: "western";
}

body {
    background-color: #fee440;
}

svg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}



.wiggle.project-links:hover {
    animation: wiggle 600ms infinite;
    animation-timing-function: linear;
}


@keyframes wiggle {
    0% {
        transform: translate(3px, 0);
    }

    50% {
        transform: translate(-3px, 0);
    }

    100% {
        transform: translate(3px, 0);
    }
}