@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "western";
    src: url(./assets/fonts/Smokum-Regular.ttf);
}

@font-face {
    font-family: "sans";
    src: url(./assets/fonts/Bitter-VariableFont_wght.ttf);
}


html {
    scroll-behavior: smooth;
}

.contact-links {
    width: 3rem;
    height: 3rem;
}



.paperTexture {
    background-image: url("./assets/img/paperTexture.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.gradient {
background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(0, 221, 214, 1) 0%, rgba(51, 102, 255, 1) 90%);
}


.headshot {
    width: 10rem;
    height: 10rem;
    border-radius: 25%;
    overflow: hidden;
}


.sans {
    font-family: "sans";
}

.western {
    font-family: "western";
}